---
import SectionLayout from "@l/SectionLayout.astro";
import { Image } from "astro:assets";
import image from "@img/image.webp";
import data from "@a/data.json";
import Interaction from "@c/Interaction";
const { nombre, fechaNacimiento, pais, ciudad } = data.basicos;
const { telefono, eMail, redes } = data.contacto;
---

<SectionLayout id="inicio">
  <main class="relative">
    <div class="glow"></div>
    <article
      class="flex flex-col lg:flex-row items-center justify-between gap-4"
    >
      <Image
        src={image}
        class="rounded-full aspect-square w-64 object-cover mx-auto bg-slate-200"
        decoding="async"
        loading="eager"
        alt="Imagen de Alonso Martínez"
      />
      <div
        class="text-pretty text-center lg:text-end flex flex-col gap-4 justify-center items-center lg:items-end"
      >
        <h2
          class="text-4xl font-semibold w-fit bg-gradient-to-r from-blue-900 to-slate-900 text-transparent bg-clip-text"
        >
          {nombre}
        </h2>
        <h3 class="text-xl">
          Desarrollador <strong class="text-blue-700">Full-Stack</strong>
          con <strong class="text-blue-700">+3 años</strong> de experiencia.
        </h3>
        <p class="text-neutral-900/80">
          Además de un apasionado y profesional del <strong
            class="text-slate-700"
            >desarrollo de software multiplataforma</strong
          >, también soy un entusiasta de la <strong class="text-slate-700"
            >producción audiovisual</strong
          >.
        </p>
        <ul class="flex items-center justify-around lg:justify-end gap-4">
          <li class="px-2 py-1 bg-slate-700/20 rounded-full">
            {fechaNacimiento}
          </li>
          <li class="px-2 py-1 bg-slate-700/20 rounded-full">
            {ciudad}, {pais}
          </li>
        </ul>
        <ul
          class="flex flex-wrap items-center justify-center lg:justify-end gap-4"
        >
          <li class="hover:text-blue-700 transition-colors">
            <a
              href={`tel:${telefono}`}
              title={`Llamar al ${telefono}`}
              aria-label="Número de teléfono"
              ><i class="text-2xl ri-phone-fill"></i></a
            >
          </li>
          <li class="hover:text-blue-700 transition-colors">
            <a
              href={`mailto:${eMail}`}
              title={`Enviar correo a ${eMail}`}
              aria-label="Dirección de correo electrónico"
              ><i class="text-2xl ri-mail-send-line"></i></a
            >
          </li>
          {
            redes.map((r) => (
              <li
                id={r.redSocial}
                class="hover:text-blue-700 transition-colors"
              >
                <a
                  href={r.url}
                  title={r.nombreUsuario}
                  aria-label={"Cuenta de " + r.redSocial}
                >
                  <i class={`text-2xl ${r.iconClass}`} />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </article>
  </main>
  <Interaction client:visible />
</SectionLayout>
